[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BTSPAS"]
	path = BTSPAS
	url = https://github.com/cschwarz-stat-sfu-ca/btspas
[submodule "SPAS"]
	path = SPAS
	url = https://github.com/cschwarz-stat-sfu-ca/spas
